body {
    font-family: 'Century Gothic', sans-serif;
    background-color: #fdf6e3;
    margin: 40px;
}

.container {
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 6px;
    font-weight: bold;
}

.form-control {
    width: 100%; 
    padding: 8px;
    font-size: 14px;
    margin: 10px auto; 
    display: block; 
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn {
    display: block;
    margin: 5px 0;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    background-color: #2F70AF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #00457E;
}

.button-group {
    display: flex;
    justify-content: center; 
    gap: 30px; 
    margin-top: 30px;
    flex-wrap: wrap;
}

.error {
    color: #d9534f;
    font-size: 0.9em;
    margin-top: -8px;
    margin-bottom: 10px;
    text-align: left; 
    display: block;
}



